In [1]:
import pandas as pd

In [21]:
df = pd.read_csv('movies_metadata.csv',encoding='latin-1')

In [20]:
#-- DETAILS OF COLUMNS -- TITLE AND GENRES

df[['title','genres']]

,title,genres
0,Toy Story,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '..."
1,Jumanji,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '..."
2,Grumpier Old Men,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ..."
3,Waiting to Exhale,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam..."
4,Father of the Bride Part II,"[{'id': 35, 'name': 'Comedy'}]"
5,Heat,"[{'id': 28, 'name': 'Action'}, {'id': 80, 'nam..."
6,Sabrina,"[{'id': 35, 'name': 'Comedy'}, {'id': 10749, '..."
7,Tom and Huck,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam..."
8,Sudden Death,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam..."
9,GoldenEye,"[{'id': 12, 'name': 'Adventure'}, {'id': 28, '..."
10,The American President,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam..."
11,Dracula: Dead and Loving It,"[{'id': 35, 'name': 'Comedy'}, {'id': 27, 'nam..."
12,Balto,"[{'id': 10751, 'name': 'Family'}, {'id': 16, '..."
13,Nixon,"[{'id': 36, 'name': 'History'}, {'id': 18, 'na..."
14,Cutthroat Island,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam..."
15,Casino,"[{'id': 18, 'name': 'Drama'}, {'id': 80, 'name..."
16,Sense and Sensibility,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n..."
17,Four Rooms,"[{'id': 80, 'name': 'Crime'}, {'id': 35, 'name..."
18,Ace Ventura: When Nature Calls,"[{'id': 80, 'name': 'Crime'}, {'id': 35, 'name..."
19,Money Train,"[{'id': 28, 'name': 'Action'}, {'id': 35, 'nam..."
20,Get Shorty,"[{'id': 35, 'name': 'Comedy'}, {'id': 53, 'nam..."
21,Copycat,"[{'id': 18, 'name': 'Drama'}, {'id': 53, 'name..."
22,Assassins,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam..."
23,Powder,"[{'id': 18, 'name': 'Drama'}, {'id': 14, 'name..."
24,Leaving Las Vegas,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n..."
25,Othello,"[{'id': 18, 'name': 'Drama'}]"
26,Now and Then,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam..."
27,Persuasion,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n..."
28,The City of Lost Children,"[{'id': 14, 'name': 'Fantasy'}, {'id': 878, 'n..."
29,In 1930's Shanghai violence was not the proble...,"[{'id': 18, 'name': 'Drama'}, {'id': 80, 'name..."
30,Dangerous Minds,"[{'id': 18, 'name': 'Drama'}, {'id': 80, 'name..."
31,Twelve Monkeys,"[{'id': 878, 'name': 'Science Fiction'}, {'id'..."
32,Wings of Courage,"[{'id': 10749, 'name': 'Romance'}, {'id': 12, ..."
33,Babe,"[{'id': 14, 'name': 'Fantasy'}, {'id': 18, 'na..."
34,Carrington,"[{'id': 36, 'name': 'History'}, {'id': 18, 'na..."
35,Dead Man Walking,"[{'id': 18, 'name': 'Drama'}]"
36,Across the Sea of Time,"[{'id': 12, 'name': 'Adventure'}, {'id': 36, '..."
37,It Takes Two,"[{'id': 35, 'name': 'Comedy'}, {'id': 10751, '..."
38,Clueless,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam..."
39,"Cry, the Beloved Country","[{'id': 18, 'name': 'Drama'}]"
40,Richard III,"[{'id': 18, 'name': 'Drama'}, {'id': 10752, 'n..."
41,Dead Presidents,"[{'id': 28, 'name': 'Action'}, {'id': 80, 'nam..."
42,Restoration,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n..."
43,Mortal Kombat,"[{'id': 28, 'name': 'Action'}, {'id': 14, 'nam..."
44,To Die For,"[{'id': 14, 'name': 'Fantasy'}, {'id': 18, 'na..."
45,How To Make An American Quilt,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n..."
46,Se7en,"[{'id': 80, 'name': 'Crime'}, {'id': 9648, 'na..."
47,Pocahontas,"[{'id': 12, 'name': 'Adventure'}, {'id': 16, '..."
48,When Night Is Falling,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n..."
49,The Usual Suspects,"[{'id': 18, 'name': 'Drama'}, {'id': 80, 'name..."

In [19]:
#-- DETAILS OF THE MOVIE WITH TITLE 'GRUPIER OLD MEN'

df[df['title'] =='Grumpier Old Men']

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,12/22/1995,0,101,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,FALSE,6.5,92.0